.DrinkType {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.drinks-container {
  flex: 1; }

.drinks-container .drink-choice {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  cursor: pointer;
  transition: background .6s ease-out;
  width: 15em; }

.drinks-container .drink-choice:hover {
  background: lightyellow; }

.drinks-container .drink-choice .drink-img {
  height: 10em; }
